#Profile Label : RHEL8 Workstation very simplified
#Date Created : 2019-05-16
#Last Modifed : 2021-09-09
#Author : Trae Elmore
#assumption : you are using the 8.4 iso for RHEL8
#assumption : the vm has at least a 40GB disk drive, grow logical volumes as desired post install
#passwords : for this file the root and ladmin user passwords are Pa33w0rd. Please change to suitable production values prior to deployment outside of your lab.
##This kickstart is only moderately hardened. Hardening choices were made based on best practices, and common sense. It is a general purpose workstation install for learning and testing.

text
network --bootproto dhcp --onboot yes --noipv6
cdrom
repo --name="AppStream" --baseurl=file:///run/install/repo/AppStream
lang en_US.UTF-8
keyboard --vckeymap=us --xlayouts='us'
zerombr
clearpart --all
bootloader --location mbr 
timezone --utc America/New_York
eula --agreed
authselect select sssd with-faillock with-mkhomedir without-nullok
rootpw --iscrypted $6$75v.Iu/m$xcw0IusqJiXa0iNzZi9zHw.WUqYJA8FDLwdXzsHolEQE76kNJyWyY268ajVsAimdnMTIbBp/7X6JzuPpGN1PD0
user --name=ladmin --groups=wheel --gecos="local admin user" --iscrypted --password=$6$75v.Iu/m$xcw0IusqJiXa0iNzZi9zHw.WUqYJA8FDLwdXzsHolEQE76kNJyWyY268ajVsAimdnMTIbBp/7X6JzuPpGN1PD0
selinux --enforcing
reboot
firewall --enabled --ssh
services --enabled="sshd,NetworkManager,chronyd"
skipx
firstboot --disabled
clearpart --all --initlabel
part /boot --fstype xfs --size=1000 --label=BOOTFS
part /boot/efi --fstype vfat --size=1000 --label=EFIFS
part pv.1 --size=100 --grow
volgroup sysvg --pesize=4096 pv.1
logvol / --fstype xfs --name=lv_root --vgname=sysvg --size=12000 --label=ROOTFS
logvol /var --fstype xfs --name=lv_var --vgname=sysvg --size=4000 --label=VARFS --fsoptions="nodev"
logvol /var/log --fstype xfs --name=lv_log --vgname=sysvg --size=2000 --label=LOGFS --fsoptions="nodev,noexec,nosuid"
logvol /var/log/audit --fstype xfs --name=lv_audit --vgname=sysvg --size=2000 --label=AUDITFS --fsoptions="nodev,noexec,nosuid"
logvol /home --fstype xfs --name=lv_home --vgname=sysvg --size=4000 --label=HOMEFS --fsoptions="nodev,nosuid"
logvol /opt --fstype xfs --name=lv_opt --vgname=sysvg --size=2000 --label=OPTFS --fsoptions="nodev"
logvol /tmp --fstype xfs --name=lv_tmp --vgname=sysvg --size=4000 --label=TMPFS --fsoptions="nodev,noexec,nosuid"
logvol swap --fstype swap --name=lv_swap --vgname=sysvg --size=1000 --label=SWAPFS

%addon com_redhat_kdump --disable
%end

%packages
@^workstation-product-environment
#@gnome-apps
@smart-card
#@office-suite
vim
wget
lsof
aide
openssh-clients
audit
fipscheck
vlock
sysstat
vlock
logwatch
scrub
yum-utils
tpm-tools
pinfo
#Smart Card
pcsc-lite
ccid
opensc
#remove some things
-ivtv-firmware
-libcoolkey
-pidgin
%end

%pre
#!/bin/bash
dd if=/dev/zero of=/dev/{s,v}da bs=4096 count=500
mount -o remount,rw,exec /tmp
%end

%post
####
# import the distribution gpg key for package checking
####
rpm --import /etc/pki/rpm-gpg/*

####
#Setup firewalld
####
firewall-offline-cmd --direct --add-rule ipv4 filter IN_public_allow 0 -p tcp -m limit --limit 25/minute --limit-burst 100 -j ACCEPT
worknet=$(ip route | tail -n 1 |awk '{ print $1 }')
firewall-offline-cmd --zone=work --add-source=$worknet
firewall-offline-cmd --set-default-zone=drop

#### 
##limit root to console
####
echo -e "tty1\ntty2" > /etc/securetty
chmod 700 /root

#####
# Wheel Group Require (sudo)
#####
sed -i -re '/pam_wheel.so use_uid/s/^#//' /etc/pam.d/su
sed -i 's/^#\s*\(%wheel\s*ALL=(ALL)\s*ALL\)/\1/' /etc/sudoers
echo -e "\n## Set timeout for authentiation (5 Minutes)\nDefaults:ALL timestamp_timeout=5\n" >> /etc/sudoers

######
#Setup LIBWRAP
######
cat <<EOF >> /etc/hosts.allow
###
# LOCALHOST (ALL TRAFFIC ALLOWED) DO NOT REMOVE FOLLOWING LINE
ALL: 127.0.0.1
# Allow SSH 
sshd: ALL
EOF
cat <<EOF >> /etc/hosts.deny
###
# Deny All by Default
ALL: ALL
EOF

#######
#preserve systemd journal
#######
mkdir /var/log/journal
chown root:systemd-journal /var/log/journal
chmod 2775 /var/log/journal

###
#All files and directories must have a valid owner.
###
sudo find / -fstype xfs -nouser -print -exec  chown nobody {} \;
sudo find / -fstype xfs -nogroup -print -exec chown :nobody {} \;
cat << EOF |sudo tee -a /etc/cron.daily/file-owner-check.sh
#!/bin/bash
find / -fstype xfs -nouser -print -exec  chown nobody {} \;
find / -fstype xfs -nogroup -print -exec chown :nobody {} \;
EOF
chmod 700 /etc/cron.daily/file-owner-check.sh

####
#console screen lock
####
cat <<EOF > /etc/profile.d/vlock-alias.sh
#!/bin/sh
alias vlock='clear;vlock -a'
EOF
cat <<EOF > /etc/profile.d/vlock-alias.csh
#!/bin/csh
alias vlock 'clear;vlock -a'
EOF
chown root:root /etc/profile.d/vlock-alias.{sh,csh}
chmod 755 /etc/profile.d/vlock-alias.{sh,csh}

####
# Set account expiration following inactivity
####
sed -i 's/INACTIVE=-1/INACTIVE=0/' /etc/default/useradd

######
# Make SELinux Configuration Immutable
######
chattr +i /etc/selinux/config

####
#Disable postfix smtp relaying per STIG RHEL-07-040680
####
postconf -e 'smtpd_client_restrictions = permit_mynetworks,reject'
systemctl reload postfix

####
#Setup firewalld
####
firewall-offline-cmd --direct --add-rule ipv4 filter IN_public_allow 0 -p tcp -m limit --limit 25/minute --limit-burst 100 -j ACCEPT
worknet=$(ip route | tail -n 1 |awk '{ print $1 }')
firewall-offline-cmd --zone=work --add-source=$worknet
firewall-offline-cmd --set-default-zone=drop

####
#Set to graphical boot
####
systemctl set-default graphical.target

###
#cleanup
###
cat << EOF >> /root/clean_up.sh
#!/bin/bash
if [ -e /root/anaconda-ks.cfg ]; then
	rm -f /root/*-ks.cfg
fi
sed -i '/clean_up.sh/d' /etc/rc.local
rm -f /root/clean_up.sh
exit 0
EOF

chmod 500 /root/clean_up.sh
chmod u+x /etc/rc.d/rc.local
echo "/root/clean_up.sh" >> /etc/rc.local

%end

