#Profile Label : Fedora Server very simplified
#Date Created : 2017-11-02
#Last Modifed : 2020-01-06
#Author : Trae Elmore
#assumption : you are using the standard dvd iso for Fedora Server to boot from and have a good internet connection
#assumption : the vm has at least a 40GB disk drive, grow logical volumes as desired post install
#passwords : for this file the root, and ladmin user passwords are Pa33w0rd. Please change to suitable production values prior to deployment outside of your lab.
##This kickstart is not hardened. It is a general purpose console install for learning and testing.

install
text
network --bootproto dhcp --onboot yes --noipv6
#cdrom
repo --name=fedora --baseurl="https://download.fedoraproject.org/pub/fedora/linux/releases/31/Everything/x86_64/os/"
repo --name=updates --baseurl="http://download.fedoraproject.org/pub/fedora/linux/updates/31/Everything/x86_64/"
lang en_US
keyboard us
zerombr
clearpart --all
bootloader --location mbr
timezone America/Chicago
eula --agreed
auth --enableshadow --passalgo=sha512
rootpw --iscrypted $6$75v.Iu/m$xcw0IusqJiXa0iNzZi9zHw.WUqYJA8FDLwdXzsHolEQE76kNJyWyY268ajVsAimdnMTIbBp/7X6JzuPpGN1PD0
user --name=ladmin --groups=wheel --gecos="local admin user" --iscrypted --password=$6$75v.Iu/m$xcw0IusqJiXa0iNzZi9zHw.WUqYJA8FDLwdXzsHolEQE76kNJyWyY268ajVsAimdnMTIbBp/7X6JzuPpGN1PD0
selinux --enforcing
reboot
firewall --enabled --ssh
skipx
firstboot --disabled
clearpart --all --initlabel
part /boot --fstype xfs --size=1000 --label=BOOTFS
part /boot/efi --fstype vfat --size=1000 --label=EFIFS
part pv.1 --size=100 --grow
volgroup sysvg --pesize=4096 pv.1
logvol / --fstype xfs --name=lv_root --vgname=sysvg --size=8000 --label=ROOTFS
logvol /usr --fstype xfs --name=lv_usr --vgname=sysvg --size=8000 --label=USRFS --fsoptions="nodev"
logvol /var --fstype xfs --name=lv_var --vgname=sysvg --size=4000 --label=VARFS --fsoptions="nodev"
logvol /var/log --fstype xfs --name=lv_log --vgname=sysvg --size=2000 --label=LOGFS --fsoptions="nodev"
logvol /var/log/audit --fstype xfs --name=lv_audit --vgname=sysvg --size=2000 --label=AUDITFS --fsoptions="nodev"
logvol /home --fstype xfs --name=lv_home --vgname=sysvg --size=8000 --label=HOMEFS --fsoptions="nodev,nosuid"
logvol /opt --fstype xfs --name=lv_opt --vgname=sysvg --size=2000 --label=OPTFS --fsoptions="nodev"
logvol /tmp --fstype xfs --name=lv_tmp --vgname=sysvg --size=2000 --label=TMPFS --fsoptions="nodev,noexec,nosuid"
logvol swap --fstype swap --name=lv_swap --vgname=sysvg --size=1000 --label=SWAPFS

%packages
vim
wget
ansible
tar
cronie
mailx
-abrt*
-avahi*
-iwl*
-ivtv-firmware
%end

%post
####
# import the distribution gpg key for package checking
####
rpm --import /etc/pki/rpm-gpg/*

####
#Setup firewalld
####
firewall-offline-cmd --direct --add-rule ipv4 filter IN_public_allow 0 -p tcp -m limit --limit 25/minute --limit-burst 100 -j ACCEPT
worknet=$(ip route | tail -n 1 |awk '{ print $1 }')
firewall-offline-cmd --zone=work --add-source=$worknet
firewall-offline-cmd --set-default-zone=drop

###
#if new server has ssd or fashcache
###
echo "vm.vfs_cache_pressure=50" >>/etc/sysctl.d/90-stig.conf
cat << EOF >> /etc/cron.weekly/ssdfstrim.sh
#!/bin/sh
for fs in $(lsblk -o MOUNTPOINT,DISC-MAX,FSTYPE | grep -E '^/.* [1-9]+.* ' | awk '{print $1}'); do fstrim "$fs"; done
EOF
chmod 700 /etc/cron.weekly/ssdfstrim.sh
%end
