#Profile Label : RHEL 7 Graphical server without running the scap remediation plugin
#Date Created : 2017-04-27
#Last Modifed : 2023-11-01
#Author : Trae Elmore
#assumption : you are using the standard rhel server dvd iso for RHEL 7.9
#assumption : the vm has at least a 40GBdisk drive, grow logical volumes as desired post install
#passwords : for this file the root, grub2, and ladmin user passwords are Pa33w0rd. Please change to suitable production values prior to deployment outside of your lab.
#example with kvm on linux : sudo virt-install --connect=qemu:///system --network bridge:virbr1 --ram 1024 --vcpus=1 --initrd-inject=/var/lib/libvirt/images/isos/workstation.cfg --extra-args="ks=file:/workstation.cfg console=tty0 console=ttyS0,115200" --name=workstation1 --disk pool=default,size=40 --location /var/lib/libvirt/images/isos/rhel7-workstation.iso

install
text
network --bootproto dhcp --onboot yes --noipv6
cdrom
lang en_US
keyboard us
zerombr
clearpart --all
bootloader --location mbr --iscrypted --password=grub.pbkdf2.sha512.10000.C0379B40AD5EEBAB7DCBAB625C9AC4253BB61D9AF8BD62E017F1A14F011A70A703F42DF2BB0A11A194337C52EEC45ABB6AD49B8D6AEC4B8647AADE9DBCC564B4.6227EFA27018BEC574CF32C47A7BB139095A2B4A68B002E9553C9500AAEDE38A9C56D7C2D0333B7F396D6EEEA41270EAA86ED92865C93A706D03179CA7713B3B
timezone America/Chicago
eula --agreed
auth --enableshadow --passalgo=sha512
rootpw --iscrypted $6$75v.Iu/m$xcw0IusqJiXa0iNzZi9zHw.WUqYJA8FDLwdXzsHolEQE76kNJyWyY268ajVsAimdnMTIbBp/7X6JzuPpGN1PD0
user --name=ladmin --groups=wheel --gecos="local admin user" --iscrypted --password=$6$75v.Iu/m$xcw0IusqJiXa0iNzZi9zHw.WUqYJA8FDLwdXzsHolEQE76kNJyWyY268ajVsAimdnMTIbBp/7X6JzuPpGN1PD0
selinux --enforcing
reboot
firewall --enabled --ssh
firstboot --disabled
clearpart --all
part /boot --fstype xfs --size=1000 --label=BOOTFS
part /boot/efi --fstype vfat --size=1000 --label=EFIFS
part pv.3 --size=100 --grow
volgroup sysvg --pesize=4096 pv.3
logvol / --fstype xfs --name=lv_root --vgname=sysvg --size=16000 --label=ROOTFS
logvol /var --fstype xfs --name=lv_var --vgname=sysvg --size=4000 --label=VARFS --fsoptions="nodev"
logvol /var/log --fstype xfs --name=lv_log --vgname=sysvg --size=2000 --label=LOGFS --fsoptions="nodev"
logvol /var/log/audit --fstype xfs --name=lv_audit --vgname=sysvg --size=2000 --label=AUDITFS --fsoptions="nodev"
logvol /home --fstype xfs --name=lv_home --vgname=sysvg --size=2000 --label=HOMEFS --fsoptions="nodev"
logvol /tmp --fstype xfs --name=lv_tmp --vgname=sysvg --size=4000 --label=TMPFS --fsoptions="nodev,noexec,nosuid"
logvol /var/tmp --fstype xfs --name=lv_var_tmp --vgname=sysvg --size=4000 --label=VAR_TMPFS --fsoptions="nodev,noexec,nosuid"
logvol swap --fstype swap --name=lv_swap --vgname=sysvg --size=1000 --label=SWAPFS

%addon com_redhat_kdump --disable
%end

%addon org_fedora_oscap
      content-type = scap-security-guide
      profile = xccdf_org.ssgproject.content_profile_ncp
%end

%packages
@^graphical-server-environment
@base
@core
@desktop-debugging
@dial-up
@fonts
@input-methods
@gnome-desktop
@guest-desktop-agents
@hardware-monitoring
@internet-browser
@development
@multimedia
@print-client
@x11
@directory-client
@network-filesystem-client
@networkmanager-submodules
vim
#stig required packages
aide
dracut-fips
dracut-fips-aesni
gnupg2
yum-utils
tpm-tools
which
unzip
bzip2
zip
xorg-x11-xauth
screen
vlock
# SCAP Content
openscap
openscap-scanner
xml-common
scap-security-guide
# stig exclude packages
-abrt*
-avahi*
-iwl*
-ivtv-firmware
-rsh
-rsh-server
-talk
-talk-server
-telnet
-telnet-server
-xinetd
-ypbind
-ypserver
%end

%post
####
# import the distribution gpg key for package checking
####
rpm --import /etc/pki/rpm-gpg/*

#### 
##limit root to console
####
echo -e "tty1\ntty2" > /etc/securetty
chmod 700 /root

####
# Set account expiration following inactivity
####
sed -i 's/INACTIVE=-1/INACTIVE=0/' /etc/default/useradd

########
#log rotation
########
sed -i 's/rotate 4/rotate 52/' /etc/logrotate.conf
sed -i 's/#compress/compress/' /etc/logrotate.conf

#######
#preserve systemd journal
#######
mkdir /var/log/journal
chown root:systemd-journal /var/log/journal
chmod 2775 /var/log/journal

###
#All files and directories must have a valid owner.
###
sudo find / -fstype xfs -nouser -print -exec  chown nobody {} \;
sudo find / -fstype xfs -nogroup -print -exec chown :nobody {} \;
cat << EOF |sudo tee -a /etc/cron.daily/file-owner-check.sh
#!/bin/bash
find / -fstype xfs -nouser -print -exec  chown nobody {} \;
find / -fstype xfs -nogroup -print -exec chown :nobody {} \;
EOF
chmod 700 /etc/cron.daily/file-owner-check.sh

####
#console screen lock
####
cat <<EOF > /etc/profile.d/vlock-alias.sh
#!/bin/sh
alias vlock='clear;vlock -a'
EOF
cat <<EOF > /etc/profile.d/vlock-alias.csh
#!/bin/csh
alias vlock 'clear;vlock -a'
EOF
chown root:root /etc/profile.d/vlock-alias.{sh,csh}
chmod 755 /etc/profile.d/vlock-alias.{sh,csh}

####
#Disable postfix smtp relaying per STIG RHEL-07-040680
####
postconf -e 'smtpd_client_restrictions = permit_mynetworks,reject'
systemctl reload postfix

######
# Make SELinux Configuration Immutable
######
chattr +i /etc/selinux/config

####
#Setup firewalld
####
firewall-offline-cmd --direct --add-rule ipv4 filter IN_public_allow 0 -p tcp -m limit --limit 25/minute --limit-burst 100 -j ACCEPT
worknet=$(ip route | tail -n 1 |awk '{ print $1 }')
firewall-offline-cmd --zone=work --add-source=$worknet
firewall-offline-cmd --set-default-zone=drop

####
#Set to graphical boot
####
systemctl set-default graphical.target



###
# SCAP Complience Report
###
cat << EOF >> /root/scap_generate_report.sh
#!/bin/bash
######
# Create SSG Complience Report
oscap xccdf eval --profile stig --results \$(hostname)-scap-report-\$(date +%F).xml --report \$(hostname)-scap-report-\$(date +%Y%m%d).html --cpe /usr/share/xml/scap/ssg/content/ssg-rhel7-cpe-dictionary.xml /usr/share/xml/scap/ssg/content/ssg-rhel7-xccdf.xml
exit 0
EOF
chmod 500 /root/scap_generate_report.sh

%end
